{% extends 'userProfile/home.html' %}

{% block content %}

  <h4 class="text-center" style="padding-top: 20px; font-family: cursive; font-size: 22px">Мой профиль - {{ user }}</h4>
    {#    <a class="btn btn-outline-secondary" href="{% url 'profile-list' %}">Войти в профиль</a>#}

  <table class="table table-hover table-striped-columns table-bordered border-black overflow-x-visible">

    <thead>
    <tr style="text-align: center">
{#      <th>Логин</th>#}
      <th>Фото</th>
      <th>E-mail</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Возраст</th>
      <th>Телефон</th>
      <th>Индекс</th>
      <th>О себе</th>
      <th>Удаление</th>
    </tr>
    </thead>

    <tbody>
{#    {% for profile in profiles %}#}
      <tr style="text-align: center; height: 20px">
{#        <td>{{ user.username }}</td>#}
        <td>
          {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="Мое фото" height="60" width="60">
          {% else %}
            <img src="/media/DefaultFoto/6.png" alt="Мое фото" style="height: 60px; width: 60px">
{#            Вставляем дефолтную аватарку, если не загружено никакой другой !#}
{#            <p>Фото не загружено</p>#}
          {% endif %}
        </td>
        <td>{{ user.email }}</td>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td>{{ profile.age }}</td>
        <td>{{ profile.phone }}</td>
        <td>{{ profile.postcode }}</td>
        <td>{{ profile.about }}</td>
        <td>
{#          <a href="{% url 'ticket-detail' ticket.id %}" class="btn btn-outline-secondary">Details</a>#}
          <a href="{% url 'delete-profile' %}" class="btn btn-outline-secondary">Подтвердить</a>
        </td>
      </tr>
{#    {% endfor %}#}
    </tbody>
  </table>

{#  2 Вариант (НЕ ввиде Таблицы!)#}
{#  <p>#}
{#    {% if profile.image %}#}
{#      <img src="{{ profile.image.url }}" alt="Мое фото" height="50" width="80">#}
{#    {% else %}#}
{#      <p>Нет фото</p>#}
{#    {% endif %}#}
{##}
{#  <p>{{ user.email }}</p>#}
{#  <p>{{ profile.first_name }}</p>#}
{#  <p>{{ profile.last_name }}</p>#}
{#  <p>{{ profile.age }}</p>#}
{#  <p>{{ profile.phone }}</p>#}
{#  <p>{{ profile.postcode }}</p>#}
{#  <p>{{ profile.about }}</p>#}
{#  <p>#}
{#    <a href="{% url 'ticket-detail' ticket.id %}" class="btn btn-outline-secondary">Details</a>#}
{#    <a href="{% url 'delete-profile' %}" class="btn btn-outline-secondary">ДА</a>#}
{#  </p>#}

{% endblock %}