{% extends 'userProfile/home.html' %}

{% block content %}

  <style>
      .card {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          transition: all .3s;
      }

      .card:hover {
          box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 1.5);
      }

      {#Для ВЫПАДАЮЩЕГО CHECKBOX#}

      {#ВАРИАНТ 10 (через <ul> / <li>) - Checkbox 1 #}
      .dropdown {                  {#курсор-указатель (рука) для пользователя#}
          display: inline-block;
          cursor: pointer;
      }
      .dropdown > span {
          border: 1px solid #030811;
          padding: 6px;
          border-radius: 4px;
          margin-bottom: 15px;
      }
      .dropdown:hover > span {
          background-color: rgb(255, 255, 255);
      }
      .dropdown ul {
          display: none;
          position: absolute;
          background: rgba(162, 162, 162, 0.57);
          list-style-type: none;
          {#padding: 0;#}
          padding: 9px 16px;
      }
      .dropdown:hover ul {    {#плавное появление списка при наведении#}
          display: block;
      }
      {#.dropdown input[type='checkbox'] {    {#добавление пространства вокруг чекбокса#}
      {#    margin-right: 20px;#}
      {#}#}

      {#ВАРИАНТ 11 - Checkbox 2 #}
      .dropbtn {
          background-color: rgb(105, 116, 136);
          color: #030811;
          padding: 8px;
          font-size: 16px;
          border: none;
          border-radius: 6px;
      }
      .dropdown {
          position: relative;
          display: inline-block;
      }
      .dropdown-content {
          display: none;
          position: marker;
          background-color: rgba(162, 162, 162, 0.57);
          min-width: 205px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
      }
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
      .dropdown-content a:hover {
          background-color: #ddd;
      }
      .dropdown:hover .dropdown-content {
          display: block;
      }
      .dropdown:hover .dropbtn {
          background-color: rgb(152, 149, 189);
      }

  </style>

{#  <h4 class="text-center" style="padding-top: 20px; font-family: cursive; font-size: 22px">Список товаров</h4>#}

  <div class="container" style="padding-left: 10px; padding-right: 10px">

    <div class="row content">

      <div class="col-sm-2 pl-4 pr-4" style="background-color: lightgrey; height: 1600px; position: sticky; top: 30px;">

      {#          <div>#}
{#            """ Фильтрация по "сезону" товара ЧЕРЕЗ ССЫЛКУ """#}
{#            <ul class="list-group" style="padding-bottom: 25px; font-family: inherit">#}
{##}
{#              {% for s in seasons %}#}
{#                  <li {% if season.id == s.id %} class="selected"#}
{#                      {% endif %}>#}
{#                      <a href="{% url 'products-by-category' s.id %}">#}
{#                         {{ s.name_season }}#}
{#                      </a>#}
{#                  </li>#}
{#              {% endfor %}#}
{##}
{#            </ul>#}
{#          </div>#}

        <ul>
          {#      <li class="nav-item dropdown">#}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            КАТЕГОРИИ
          </a>
{#         """ Выпадающий саисок через ССЫЛКУ ! (НЕ через SELECT / <option>) """#}
          <ul class="dropdown-menu dropdown-menu-dark">

            {% for cat in categories %}
              <li>
{#                1 ВАРИАНТ: через "name_category" - def get_value_dropdown_category(request, value)#}
{#                <a class="dropdown-item" href="{% url 'get-dropdown-category' value=cat.name_category %}">#}

{#                1.1 ВАРИАНТ: через 2 входных параметра - def get_typ_value_dropdown(request, typ, value):#}
                  <a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='category' value=cat.name_category %}">
                    {{ cat.name_category }}</a>

{#                2 ВАРИАНТ: через id категории  - def get_value_dropdown_category(request, value)#}
{#                  <a class="dropdown-item" href="{% url 'get-dropdown-category' value=cat.id %}">#}
{#                    {{ cat.name_category }}</a>#}
              </li>
            {% endfor %}

          </ul>
        </ul>

        <hr/>

        <ul>
          {#      <li class="nav-item dropdown">#}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ОДЕЖДА
          </a>
{#             1 ВАРИАНТ через: def get_value_dropdown(request, value):#}
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Брюки' %}">Брюки</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Джемпер' %}">Джемпер</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Джинсы' %}">Джинсы</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Пальто' %}">Пальто</a></li>#}
{#          </ul>#}

{#              1.1 ВАРИАНТ через: def get_typ_value_dropdown(request, typ, value):#}
          <ul class="dropdown-menu">
            <li>
               <a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Брюки' %}">Брюки</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Джемпер' %}">Джемпер</a></li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Джинсы' %}">Джинсы</a></li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Пальто' %}">Пальто</a></li>
          </ul>
          {#      </li>#}

          {#      <li class="nav-item dropdown">#}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ОБУВЬ
          </a>
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Ботинки' %}">Ботинки</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Туфли' %}">Туфли</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Кроссовки' %}">Кроссовки</a></li>#}
{#          </ul>#}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Ботинки' %}">Ботинки</a></li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Туфли' %}">Туфли</a></li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Кроссовки' %}">Кроссовки</a></li>
          </ul>

          {#      </li>#}
{##}
          {#      <li class="nav-item dropdown">#}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            АКСЕССУАРЫ
          </a>
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Галстук' %}">Галстук</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'get-dropdown' value='Ремень' %}">Ремень</a></li>#}
{#          </ul>#}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Галстук' %}">Галстук</a></li>
            <li><a class="dropdown-item" href="{% url 'get-typ-value-dropdown' typ='name_product' value='Ремень' %}">Ремень</a></li>
          </ul>
          {#      </li>#}
        </ul>

        <hr/>

        <form method="POST" class="row" action="{% url 'get-config' %}">
            {% csrf_token %}

            <div style="padding-bottom: 25px">
{#              <label for="inputcategory" class="form-label fw-medium"></label>#}
{#              <select class="form-select" id="inputcategory" name="category_id">#}
                <select name="category_id" class="form-select" onchange="form.submit()">
                  <option selected disabled>Категории</option>

                  {% for cat in categories %}

                  <option value="{{ cat.id }}">{{ cat.name_category }}</option>

                  {% endfor %}
                </select>
            </div>

            <div style="padding-bottom: 25px">
                <select name="name_prod" class="form-select" onchange="form.submit()">
                  <option selected disabled>СПИСОК ТОВАРОВ</option>

                  {% for p in name_list %}

                  <option value="{{ p.name_product }}">{{ p.name_product }}</option>

                  {% endfor %}
                </select>
            </div>

{#            АНАЛОГИЧНО можно сделать для "ОБУВЬ" и "АКСЕССУАРЫ"#}
            <div style="padding-bottom: 25px">
                <select name="name_cloth" class="form-select" onchange="form.submit()">
                  <option selected disabled>ОДЕЖДА</option>

                  <option value="Брюки">Брюки</option>
                  <option value="Джемпер">Джемпер</option>
                  <option value="Джинсы">Джинсы</option>
                  <option value="Пальто">Пальто</option>
                </select>
            </div>

        </form>

{#            Чтобы НЕ нажимать КНОПКУ (type="submit") (см. ниже) для подтверждения отправки, мы можем прописать#}
{#            в <select onchange="form.submit()"> - тогда при выборе нужного значения - #}
{#            сортировка происходит автоматически  !!!#}

        {#Тег <option> определяет опцию - "Выберите из ВЫПАДАЮЩЕГО списка". <option> помещаются внутрь <select> #}
        {#Тег можно использовать без каких-либо атрибутов, но Обычно требуется атрибут value, который указывает, #}
        {#что отправляется на сервер при отправке формы.#}

          <hr/>

        {#  СОРТИРОВКА ТОВАРОВ !!!#}
{#          <h4 class="text-center">Сортировка</h4>#}
          <form method="POST" class="row" action="{% url 'get-sorted' %}">
            {% csrf_token %}

{#            Чтобы НЕ нажимать КНОПКУ (type="submit") (см. ниже) для подтверждения отправки, мы можем прописать#}
{#            в <select onchange="form.submit()"> - тогда при выборе нужного значения - #}
{#            сортировка происходит автоматически  !!!#}
            <div>
              <select name="select_value" class="form-select" onchange="form.submit()">
                <option selected disabled>Сортировка:</option>

                <optgroup label="По цене:">
                    <option value="value1">по возрастанию</option>
                    <option value="value2">по убыванию</option>
                </optgroup>

                <optgroup label="По имени:">
                    <option value="value3">от А до Я</option>
                    <option value="value4">от Я до А</option>
                </optgroup>
              </select>
            </div>


{#            <div style="padding-top: 10px">#}
{#                <input type="submit" value="Найти">#}
{#                <button type="submit" value="Найти" class="btn btn-outline-secondary">Найти</button>#}
{#            </div>#}
          </form>

          <hr/>

          <h4 class="text-center">Фильтры:</h4>
          <hr/>

{#          <div>#}
{#            """ Фильтрация по "категории" товара ЧЕРЕЗ ССЫЛКУ """#}
{#            <ul class="list-group" style="padding-bottom: 25px; font-family: inherit">#}

{#              {% for cat in categories %}#}
{#                  <li {% if category.id == cat.id %} class="selected"#}
{#                      {% endif %}>#}
{#                      <a href="{% url 'products-by-category' cat.id %}">#}
{#                         {{ cat.name_category }}#}
{#                      </a>#}
{#                      <a href="{{ cat.get_absolute_url }}">{{ cat.name_category }}</a>#}
{#                      """ Смотри models.py - class Category(models.Model) """ #}
{#                  </li>#}
{#              {% endfor %}#}
{#            </ul>#}
{#          </div>#}

{#          <div>#}
{#            """ Фильтрация по "сезону" товара ЧЕРЕЗ ССЫЛКУ """#}
{#            <ul class="list-group" style="padding-bottom: 25px; font-family: inherit">#}
{##}
{#              {% for s in seasons %}#}
{#                  <li {% if season.id == s.id %} class="selected"#}
{#                      {% endif %}>#}
{#                      <a href="{% url 'products-by-category' s.id %}">#}
{#                         {{ s.name_season }}#}
{#                      </a>#}
{#                  </li>#}
{#              {% endfor %}#}
{##}
{#            </ul>#}
{#          </div>#}

{#            """ Фильтрация товаров ЧЕРЕЗ CHECKBOX """#}
          <form method="post" action="{% url 'checkbox-products' %}">
            {% csrf_token %}

            <div class="form-check">
              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Категория</b></label>
              <br/>
{#                Можно так - НЕ через цикл for !!!#}
{#              <input type="checkbox" class="form-check-input" name="seasons" value="Лето" id="season1">#}
{#              <label for="season1" class="form-check-label">Лето</label>#}
{#              <br/>#}
{#              <input type="checkbox" class="form-check-input" name="seasons" value="Осень" id="season2">#}
{#              <label for="season2" class="form-check-label">Осень</label>#}
{#              <br/>#}
{#              <input type="checkbox" class="form-check-input" name="seasons" value="Зима" id="season3">#}
{#              <label for="season3" class="form-check-label">Зима</label>#}
{#              <br/>#}
{#              <input type="checkbox" class="form-check-input" name="seasons" value="Весна" id="season4">#}
{#              <label for="season4" class="form-check-label">Весна</label>#}
{#              <br/>#}

                {% for cat in categories %}     {# categories берем из data из views #}
                  <label>
{#                    <input type="checkbox" class="form-check-input" name="categories" value="{{ cat.name_category }}">#}
                    <input type="checkbox" class="form-check-input" name="categories" value="{{ cat.id }}">
                    <span>{{ cat.name_category }}</span>
                  </label>
                  <br/>
                {% endfor %}

              <hr/>

{#    1 Вариант через "name_seasons_list"#}
{#              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Сезон</b></label>#}
{#              <br/>#}
{#                {% for s in seasons %} {# seasons берем из data из views #}
{#                  <label>#}
{#                    <input type="checkbox" class="form-check-input" name="seasons" value="{{ s.name_season }}">#}
{#                    <span>{{ s.name_season }}</span>#}
{#                  </label>#}
{#                   <br/>#}
{#                {% endfor %}#}

{#    2 Вариант через "id_seasons_list"#}
              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Сезон</b></label>
              <br/>
              {% for s in seasons %} {# seasons берем из data из views #}
                <label>
                  <input type="checkbox" class="form-check-input" name="seasons" value="{{ s.id }}">
                  <span>{{ s.name_season }}</span>
                </label>
                <br/>
              {% endfor %}

              <hr/>

{#              1 Вариант - "Перечень ВСЕХ товаров по имени"#}
              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Перечень</b></label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Джемпер" id="pr1">
              <label for="pr1" class="form-check-label">Джемпер</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Ботинки" id="pr2">
              <label for="pr2" class="form-check-label">Ботинки</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Туфли" id="pr3">
              <label for="pr3" class="form-check-label">Туфли</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Галстук" id="pr4">
              <label for="pr4" class="form-check-label">Галстук</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Ремень" id="pr5">
              <label for="pr5" class="form-check-label">Ремень</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Брюки" id="pr6">
              <label for="pr6" class="form-check-label">Брюки</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Пальто" id="pr7">
              <label for="pr7" class="form-check-label">Пальто</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Кроссовки" id="pr8">
              <label for="pr8" class="form-check-label">Кроссовки</label>
              <br/>
              <input type="checkbox" class="form-check-input" name="prod_names" value="Джинсы" id="pr9">
              <label for="pr9" class="form-check-label">Джинсы</label>
              <br/>

{#               2 Вариант - через цикл - НО тогда выводит ВСЕ товары подряд - НО названия товаров могут повторяться- #}
{#                  тогда через цикл выводятся чекбоксы с одинаковыми названиями !!!#}
{#              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Перечень</b></label>#}
{#              <br/>#}
{#                {% for prod in products %}#}
{#                  <label>#}
{#                    <input type="checkbox" class="form-check-input" name="prod_names" value="{{ prod.name_product }}">#}
{#                    <span>{{ prod.name_product }}</span>#}
{#                  </label>#}
{#                   <br/>#}
{#                {% endfor %}#}

              <hr/>
            </div>
{#            <br/>#}

{#            <div class="form-check">#}
{#              <label style="padding-left: 20px; font-family: inherit; font-size: 18px"><b>Категория</b></label>#}
{#              <br/>#}
{##}
{#                {% for cat in categories %}#}
{#                  <label>#}
{#                    <input type="checkbox" class="form-check-input" name="categories" value="{{ cat.name_category }}">#}
{#                    <span>{{ cat.name_category }}</span>#}
{#                  </label>#}
{#                  <br/>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <br/>#}
            <div>
{#                <input type="submit" value="Найти">#}
                <a href="{% url 'get-products' %}" class="btn btn-outline-secondary">К списку</a>
                <button type="submit" value="Найти" class="btn btn-outline-secondary">Найти</button>
            </div>
          </form>

          <hr/>

{#          ВАРИАНТы Для выпадающего списка из CHECKBOX !!!#}

{#          Вариант 10 (через <ul> / <li>) - "выпадающий список (за счет стилей CSS - см. вверху) #}
{#          появляется при "наведении курсора" на поле <Перечень Checkbox 1>#}
          <form method="post" action="{% url 'checkbox-products' %}">
            {% csrf_token %}

            <div class="dropdown" style="padding-bottom: 15px">
              <span>Перечень Checkbox 1</span>

              <ul>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Джемпер" id="pr1">
                  <label for="pr1" class="form-check-label">Джемпер</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Ботинки" id="pr2">
                  <label for="pr2" class="form-check-label">Ботинки</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Туфли" id="pr3">
                  <label for="pr3" class="form-check-label">Туфли</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Галстук" id="pr4">
                  <label for="pr4" class="form-check-label">Галстук</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Ремень" id="pr5">
                  <label for="pr5" class="form-check-label">Ремень</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Брюки" id="pr6">
                  <label for="pr6" class="form-check-label">Брюки</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Пальто" id="pr7">
                  <label for="pr7" class="form-check-label">Пальто</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Кроссовки" id="pr8">
                  <label for="pr8" class="form-check-label">Кроссовки</label>
                </li>
                <li>
                  <input type="checkbox" class="form-check-input" name="prod_names" value="Джинсы" id="pr9">
                  <label for="pr9" class="form-check-label">Джинсы</label>
                </li>
                <li>
                  <input style="margin-top: 10px" type="submit" value="Найти">
                </li>
              </ul>
            </div>
          </form>

          <hr/>

{#        Вариант 11 - "выпадающий список (за счет стилей CSS - см. вверху)#}
{#          появляется "при наведении курсора" на поле <Перечень Checkbox 2>#}
          <form method="post" action="{% url 'checkbox-products' %}">
            {% csrf_token %}

            <div class="dropdown" style="padding-bottom: 15px">

              <button class="dropbtn">Перечень Checkbox 2</button>
              <div class="dropdown-content">
                <input type="checkbox" class="form-check-input" name="prod_names" value="Джемпер" id="pr1">
                <label for="pr1" class="form-check-label">Джемпер</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Ботинки" id="pr2">
                <label for="pr2" class="form-check-label">Ботинки</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Туфли" id="pr3">
                <label for="pr3" class="form-check-label">Туфли</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Галстук" id="pr4">
                <label for="pr4" class="form-check-label">Галстук</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Ремень" id="pr5">
                <label for="pr5" class="form-check-label">Ремень</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Брюки" id="pr6">
                <label for="pr6" class="form-check-label">Брюки</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Пальто" id="pr7">
                <label for="pr7" class="form-check-label">Пальто</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Кроссовки" id="pr8">
                <label for="pr8" class="form-check-label">Кроссовки</label>
                <br/>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Джинсы" id="pr9">
                <label for="pr9" class="form-check-label">Джинсы</label>
                <br/>
                <div style="padding-top: 12px">
                  <input type="submit" value="Найти">
                </div>
              </div>
             </div>

{#          <div>#}
            {#                <input type="submit" value="Найти">#}
{#            <a href="{% url 'get-products' %}" class="btn btn-outline-secondary">К списку</a>#}
{#            <button type="submit" value="Найти" class="btn btn-outline-secondary">Найти</button>#}
{#          </div>#}
          </form>


{#        ВАРИАНТ 3#}
{#        """ Выпадающий список из Checkbox появляется при нажатии на кнопку - <button type="button>#}

{#          ОБЪЯСНЕНИЕ примера:#}
{#          (ВСЕ варианты подровбнее см. на: https://www.w3schools.com/bootstrap5/bootstrap_dropdowns.php)#}

{#          - Класс .dropdown указывает на "раскрывающееся меню" !#}
{##}
{#          - Чтобы открыть раскрывающееся меню, используйте кнопку или ссылку с классом .dropdown-toggle #}
{#            и атрибутом data-bs-toggle="dropdown".#}
{##}
{#          - Добавьте класс .dropdown-menu к элементу-контейнеру, например <div> или <ul>, #}
{#            чтобы фактически создать раскрывающееся меню. #}
{#            Затем добавьте класс .dropdown-item к каждому элементу (ссылкам или кнопкам) внутри раскрывающегося меню.#}
{#        """#}
        <form method="post" action="{% url 'checkbox-products' %}">
          {% csrf_token %}
{#          """#}
{#          Для ПРИМЕРА -  можно создать меню "dropend" или "dropstart", добавив класс .dropend или .dropstart #}
{#          к раскрывающемуся элементу - тогда "раскрывающееся меню" будет по раскрываться "В Лево / право" !#}
{#            <div class="dropdown dropend">#}
{#          """#}
          <div class="dropdown3" style="padding-bottom: 15px">

            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Перечень Checkbox 3
            </button>
            <ul class="dropdown-menu" style="background-color: lightgrey">
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Джемпер" id="pr1">
                <label for="pr1" class="form-check-label">Джемпер</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Ботинки" id="pr2">
                <label for="pr2" class="form-check-label">Ботинки</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Туфли" id="pr3">
                <label for="pr3" class="form-check-label">Туфли</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Галстук" id="pr4">
                <label for="pr4" class="form-check-label">Галстук</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Ремень" id="pr5">
                <label for="pr5" class="form-check-label">Ремень</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Брюки" id="pr6">
                <label for="pr6" class="form-check-label">Брюки</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Пальто" id="pr7">
                <label for="pr7" class="form-check-label">Пальто</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Кроссовки" id="pr8">
                <label for="pr8" class="form-check-label">Кроссовки</label>
              </li>
              <li>
                <input type="checkbox" class="form-check-input" name="prod_names" value="Джинсы" id="pr9">
                <label for="pr9" class="form-check-label">Джинсы</label>
              </li>

              <li style="padding-top: 12px">
                <input type="submit" value="Найти">
              </li>
            </ul>

          </div>
        </form>


        {#  ВАРИАНТ 4 - СЕЗОНЫ (также можно сделать КАТЕГОРИИ#}
{#        Выпадающий список из Сheckbox появляется при нажатии на кнопку! #}
{#        СЕЗОНЫ через цикл - {% for s in seasons %} !!!#}
        <form method="post" action="{% url 'checkbox-products' %}">
          {% csrf_token %}

          <div class="dropdown4" style="padding-bottom: 15px">

            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Сезон Checkbox 4
            </button>
            <div class="dropdown-menu" style="background-color: lightgrey">

              {% for s in seasons %} {# seasons берем из data из views #}
                <label>
                    <input type="checkbox" class="form-check-input" name="seasons" value="{{ s.id }}">
                    <span>{{ s.name_season }}</span>
                </label>
                <br/>
              {% endfor %}

              <div style="padding-top: 12px">
                <input type="submit" value="Найти">
              </div>
            </div>

          </div>
        </form>

      </div>


{#        <div class="form-check">#}
{#              <h5>Сезон</h5>#}
{##}
{#                {% for s in seasons %}#}
{#                  <div>#}
{#                    <input class="form-check-input" type="checkbox" id="checkseason">#}
{#                    <label for="checkseason" class="form-check-label">{{ s.name_season }}</label>#}
{#                  </div>#}
{#                {% endfor %}#}
{##}
{#            </div>#}

{#    Справочно !!!#}
{#    Для создания связи <label> с <input> существует два способа:#}
{##}
{#    1. Связь по id. Для этого необходимо задать уникальный id для <input> и связать <label> с чекбоксом с помощью атрибута for#}
{#   <form>#}
{#     <input id="html" type="checkbox">#}
{#     <label for="html">Хочу изучать HTML</label>#}
{#   </form>#}
{#      #}
{#2. Вложить <input> внутрь тега <label>. При этом указание уникального id не требуется!#}
{#    <form>#}
{#      <label>#}
{#        <input type="checkbox">#}
{#        Хочу изучать HTML#}
{#      </label>#}
{#    </form>#}

{#      Справочно !!!#}
{#      a) Для того, чтобы после отправки формы на сервер возможно было узнать, какие именно пункты были выбраны,#}
{#      используется атрибут "value", внутри которого находится значение, позволяющее определить чекбокс.#}
{##}
{#      б) Так как чекбоксов на странице может быть много, и они могут относиться к разным формам, #}
{#      для определения конкретной группы чекбоксов используется атрибут "name". #}
{#      Для каждой группы чекбоксов указывается своё имя, по которому, в дальнейшем, #}
{#      возможно отделить группы чекбоксов при обработке на сервере.#}
{#        Атрибут "name" указываем во views.py name_categories_list = request.POST.getlist('categories')#}
{#        В данном примере атрибут "name" = ('categories')#}

    {#            Справочно !!! - так можно делать при ВХОДЕ на сайт ! Надо разбираться как это работает !?#}
                {#            <div class="form-check mb-2">#}
                {#              <input type="checkbox" class="form-check-input" id="RememberMe">#}
                {#              <label for="RememberMe" class="form-check-label" >Запомнить меня</label>#}
                {#            </div>#}
                {#            Для стилизации нетекстовых полей используйте соответствующие классы, например, #}
                {#            для чекбокса класс - form-check-input, его метке label — класс form-check-label, #}
                {#            а группирующему их тегу div — класс form-check.#}

{#      Справочно !!! #}
{#      <div class="form-check">#}
{#        <input class="form-check-input" type="checkbox" id="demoCheckbox">#}
{#        <label class="form-check-label" for="demoCheckbox">#}
{#          Без флажка по умолчанию#}
{#        </label>#}
{#      </div>#}
{#      <div class="form-check">#}
{#        <input class="form-check-input" type="checkbox" id="demoCheckboxChecked" checked>#}
{#        <label class="form-check-label" for="demoCheckboxChecked">#}
{#          С флажком по умолчанию (ПРОСТО в <input ставим в конце ... checked> !!!#}
{#        </label>#}
{#      </div>#}

      <div class="col-sm-10">

          <div class="d-flex flex-row flex-wrap justify-content-flex-start row-gap-3 column-gap-3 px-4">
            {% for product in products %}
              <div class="card" style="width: 14rem; border-image: 10 fill">
                <img src="{{ product.image.url }}" class="card-img" alt="image">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h6 class="card-title">{{ product.name_product }} - {{ product.price }} BYN</h6>
    {#                    <h6 class="text-black-50">{{ product.price }} BYN</h6>#}
                  </div>
    {#                  <p class="card-text">{{ product.description }}</p>#}
                      <div class="d-flex justify-content-between">
                        <a href="{% url 'product-details' product.id %}" class="btn btn-outline-secondary">Подробно</a>
{#                        <a href="{% url 'add-to-basket' product.id %}" class="btn btn-outline-secondary">Add to basket</a>#}
{#                        {% if user.is_authenticated %}#}
{#                        <a href="{% url 'add-to-basket' product.id %}"><i class="fa fa-shopping-cart"></i></a>#}
{#                                            {% endif %}#}
                      </div>
                </div>
              </div>
    {#              <div>#}
    {#                <a href="{% url 'product-details' product.id %}">{{ product.name }}</a>#}
    {#              </div>#}
            {% endfor %}
          </div>
      </div>

    </div>
  </div>

  <br>
  <hr>

{% endblock %}
